.navbar{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-left:260px;

}

.search-box{

display:flex;

align-items:center;

background:#F1F5F9;

padding:10px 15px;

border-radius:12px;

width:420px;

gap:10px;

}

.search-box input{

border:none;

outline:none;

background:transparent;

width:100%;

font-size:15px;

}

.navbar-right{

display:flex;

align-items:center;

gap:25px;

}

.notification{

position:relative;

cursor:pointer;

}

.badge{

position:absolute;

top:-8px;

right:-8px;

width:20px;

height:20px;

background:red;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:12px;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.avatar{

width:48px;

height:48px;

background:#2563EB;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

color:white;

font-size:18px;

}

.profile h4{

margin:0;

font-size:15px;

}

.profile p{

margin:0;

font-size:13px;

color:#666;

}

.setting-icon{

cursor:pointer;

color:#555;

}